@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

:root {
  --font-family: "Roboto", serif;
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1.5;
  --paragraph-color: #5f6c7b;
  --heading-color: #094067;
  --background-color: #fffffe;
  --button-color: #094067;
  --tile-color: #90b4ce;
  --button-text: #000000;
  --button-text-second: #ffffff;
  --minor-tertiary: #ef4565;
  --main-tile-color: #fffffe;
  --top-bar-color: transparent;
}

//define global styles
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--paragraph-color);
  background: var(--background-color);
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  color: var(--heading-color);
}

.top-bar {
  background-color: var(--top-bar-color);
}

.top-bar .menu {
  background-color: var(--top-bar-color);
}

.button-1 {
  --c: var(--button-color);
  /* the color*/
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

.button-1:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  color: var(--button-text-second);
}

.button-1:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: var(--button-text-second);
}

.button-1 {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;
  border: none;
  color: var(--button-text);
  margin: 0 1rem;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  width: 75%;
  margin: 5% auto;
  padding: 5%;
  background: var(--tile-color);
  color: #000000;
  border-radius: 25px;
}